<!DOCTYPE html>
<html lang="en">
<head>
  <title>HoneyBear High Level Inteface</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Honey<span class="glyphicon glyphicon-xbt"></span>ear</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/log">Log</a></li>
      <li><a href="/config">Config</a></li>
      <li class="active"><a href="/about-us">About us</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1>Looking for more bears ?</h1>
  

<p>
<button class="btn btn-default" data-toggle="collapse" data-target="#demo">More</button>

<div id="demo" class="collapse" style="text-align:center">
<img src="/static/images/aboutus.jpg" width=600>
</div>
</p>
  <p>
  <div class="row" style="text-align:center">
  <div class="col-sm-4">
    <img src="/static/images/sang.jpg" width=200 height=200 style="border: 3px solid #000; border-radius:50%"><br>
    <h4>Phạm Minh Sang</h4>
  </div>
  <div class="col-sm-4">
    <img src="/static/images/tri.jpg" width=200 height=200 style="border: 3px solid #000; border-radius:50%"><br>
    <h4>Đặng Minh Trí</h4>
  </div>
  <div class="col-sm-4">
    <img src="/static/images/cute.jpg" width=200 height=200 style="border: 3px solid #000; border-radius:50%"><br>
    <h4>The Lovely Bear</h4>
  </div>
</div></p>

</div>

</body>
</html>